/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a {
  color: #444;
}
nav .brand-logo {
  color: #1565c0;
}
nav .brand-tipo-svg {
  padding-bottom: 10px;
  height: 1.3em;
}
nav .brand-logo-svg {
  padding-top: 15px;
  height: 1.7em;
}

.brand-tipo-side {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 5em;
	margin-right: 5em;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #1565c0;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.header {
	margin-top: 15%;
}

.header-subtitle {
	margin-bottom: 10%;
	font-size: 1.6em;
	opacity: 0.85;
}

.header-button {
	margin-top: 2%;
	margin-bottom: 5%;
}

#index-banner {
	min-height: 500px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.col-servizio {
  margin-top: 60px;
  margin-bottom: 100px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#cosa h5{
  font-size: 1.3em;
}

.ritratto {
  height: 128px
}

.cont-demo {
	width: 80%;
}

.col-dimostrazione {
  margin-top: 60px;
  margin-bottom: 50px;
}

.sfondo-demo {
  background-color: rgba(68,68,68,0.4);
}

.striscia-demo {
  background-color: rgba(68,68,68,0.8);
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
}

.spazio-demo {
  padding-top: 130px;
}

.round-demo {
  border-radius: 12px;
  height: 260px;
  justify-content: flex-end;
  font-weight: normal;
  margin-top: 20px;
  font-size: 1.3em;
}

.video-container, #videoFrame {
	width: 100%;
	height: 300px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#formContatti {
	background-color: transparent;
}

.col-contattaci {
  margin-top: 60px;
  margin-bottom: 60px;
}
.col-bott-contattaci {
  padding-top: 20px;
}

footer.page-footer, footer.footer-copyright {
  margin: 0;
  background-color: #3D5467;
}

 /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-button {
	margin-top: 15px;
}
.fax {
  padding: 15px;
  font-size: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fax:hover {
  background-color: #000;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.icon-button a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #125688;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
